aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altgraph==0.17.4
asgiref==3.8.1
attrs==24.3.0
audeer==2.2.0
audiofile==1.5.0
audmath==1.4.1
certifi==2024.12.14
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
colorama==0.4.6
decorator==4.4.2
Django==5.1.4
django-crispy-forms==2.3
edge-tts==7.0.0
ffmpeg-python==0.2.0
filelock==3.16.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
Jinja2==3.1.4
llvmlite==0.43.0
MarkupSafe==3.0.2
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numba==0.60.0
numpy==1.24.3
openai-whisper==20231117
opencv-python==4.10.0.84
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
pillow==10.4.0
proglog==0.1.10
propcache==0.2.1
pycparser==2.22
pydub==0.25.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32-ctypes==0.2.3
regex==2024.11.6
requests==2.32.3
rfc3986==1.5.0
scipy==1.14.1
six==1.17.0
sniffio==1.3.1
soundfile==0.12.1
SpeechRecognition==3.12.0
sqlparse==0.5.3
srt==3.5.3
sympy==1.13.3
tabulate==0.9.0
tiktoken==0.8.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.67.1
ttkthemes==3.2.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
yarl==1.18.3
